$colors: (bglight: #1976D2, bgdefault: #09487d, text: #fff, button: #ff5c39, textlight: #607D8B);

.col.np {
    padding-left: 0;
    padding-right: 0;
}

.flex {
    display: flex;
    align-items: center;
    flex-flow: row;
}

.pd-0_5 {
    padding: 0.5em;
}

.pd-1 {
    padding: 1em;
}

.pd-2 {
    padding: 2em;
}

.pd-3 {
    padding: 3em;
}

.pd-4 {
    padding: 4em;
}

.pd-5 {
    padding: 5em;
}

.pd-r-1 {
    padding-right: 1em;
}

.pd-r-2 {
    padding-right: 2em;
}

.pd-r-3 {
    padding-right: 3em;
}

.pd-r-4 {
    padding-right: 4em;
}

.mg-top-0_5 {
    margin-top: 0.5em;
}

.mg-top-1 {
    margin-top: 1em;
}

.mg-top-2 {
    margin-top: 2em;
}

.mg-top-3 {
    margin-top: 3em;
}

.mg-top-4 {
    margin-top: 4em;
}

.mg-top-5 {
    margin-top: 5em;
}

.material-shadow-1 {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09), 0 1px 2px rgba(0, 0, 0, 0.21);
}

.material-shadow-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.19);
}

.material-shadow-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.material-shadow-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.material-shadow-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.material-card {
    background-color: #fff;
    border-radius: 0.3em;
}

.material-card-etb {
    .material-card-etb-content, .material-card-etb-header, .material-card-etb-box {
        border: 0.04em solid #fff;
        position: relative;
        height: auto;
    }
    .material-card-etb-header {
      border-radius: 0.3em;
    }
    .material-card-etb-title {
      background-color: #fff;
      color: #ff5c39;
      font-weight: bold;
      width: 80%;
      text-transform: uppercase;
      font-size: 1.3em;
      position: absolute;
      left:0;
      top:-1em;
      padding: 0.1em 0.5em 0.1em 0.5em;
      transform: translate(13%);
    }
    .material-card-etb-price {
      font-size: 3em;
    }
    .material-card-etb-legend {
      padding-right: 0.5em;
      font-weight: 100 !important;
    }
    .double-speed {
      font-size: 2.5em;
    }
    .double-velocity {
      background-color: #ff5c39;
      text-transform: uppercase;
      padding: 0.1em 0.5em 0.1em 0.5em;
      font-size: 1.2em;
      font-weight: bold;
    }
    .material-card-etb-box {
      padding: 0.1em 0.5em 0.1em 0.5em;
      font-size: 1.2em;
      font-weight: bold;
      text-transform: uppercase;
    }

}

.mg-b-1 {
    margin-bottom: 1em;
}

.mg-b-2{
    margin-bottom:2em;
}

.mg-b-3 {
    margin-bottom: 3em;
}

$backgrounds: ();

@function getcolor($index) {
    @if map-has-key($colors, $index) {
        @return map-get($colors, $index);
    }
}

@function bg($index) {
    @if map-has-key($backgrounds, $index) {
        @return map-get($backgrounds, $index);
    }
}
