extends layout
block content
    .confirm.flex.justify-content-end
        .body-content
            .container
                .row
                    .col
                        span ¡Gracias!
                .row
                    .col
                        span.message-confirm=message
                .row
                    .col
                        span LLAMANOS en Bogot&aacute; al:
                        span.confirm-number 3009121295
                .row
                    .col
                        button.btn.btn-theme.mg-top-4#goBack
                            | Volver al inicio